@import '../../../styles/variables';

.main-div {
  padding: 0;
}

.register-title {
  @include color(primary, light);
}

.error-msg {
  @include text-color(secondary);
  margin-top: 4px;
  font-weight: 550;
}

.create-btn {
  @include color(tertiary, light);
  margin-bottom: 8px;
}
