.track-container {
  margin-bottom: 8px;
  margin-right: 24px;
}

.select-source {
  margin-top: 8px;
  margin-bottom: -16px;
}

.start-time-btns {
  border: solid 1px rgba(0,0,0,.12);
  border-radius: 4px;
  height: 64px
}