.labels {
  width: 100%; 
  align-items: left;
  padding: 0 8px;
}

.edit-btn {
  margin: 16px 0 16px 0;
  width: 100%;
  color: rgb(241, 241, 241);
  background-color: rgb(38, 186, 38);
}

.cancel-btn {
  margin: 16px 0 16px 0;
  width: 100%;
  color: rgb(241, 241, 241);
  background-color: rgb(198, 59, 41);
}