@import '../../../../styles/variables';

.fast-daw {
  margin: 8px 8px;
}

.upload {
  display: flex;
  margin-bottom: 6px;

  .upload-btn {
    margin-right: 6px;
  }

  .upload-input {
    padding-top: 6px;
  }
}

.info-text {
  display: block;
  line-height: 24px;
  max-width: 75%;
  margin-bottom: 6px;
}

.generated-link {
  margin-bottom: 6px;
}

.add-track-btn {
  @include color(tertiary, light);
  margin-right: 8px;
  margin-bottom: 8px;
}

.playback-btns-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.play-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}

.track-card-container {
  max-width: 252px;
  padding: 0;
  margin-right: 12px;
  margin-bottom: 12px;
}

.tracks-container {
  display: flex;
}
