<div class="header" fxLayout="row">

</div>

 <div class="info-text">
  <span class="info-text">
    Fast DAW allows for asynchronous playback of multiple audio files.
  </span>
  <span class="info-text">
    Choose or upload an audio file then set how long you want to delay the start of that track.
  </span>
  <span class="info-text">
    Once set, hit start at the bottom of the screen and enjoy!
  </span>
</div>

<div class="editor">
  <button class="add-track-btn" mat-raised-button matSuffix aria-label="Add Track" (click)="addTrack()">
    Add Track
  </button>
  <button class="add-track-btn" mat-raised-button matSuffix aria-label="Create Shareable Link">
    Create Shareable Link
  </button>
  <mat-card class="track-card-container" *ngFor="let track of tracks">
    <mat-card-content>
      <app-daw-track
        [trackId]="track.trackId"
        [selectedFilename]="track.selectedFilename"
        [offset]="track.offset"
        [volume]="track.volume"
        (deleteTrackEmitter)="deleteTrack(track.trackId)">
      </app-daw-track>
    </mat-card-content>
  </mat-card>
  <button *ngIf="tracks.length" class="add-track-btn" mat-raised-button matSuffix aria-label="Add Track" (click)="addTrack()">
    +
  </button>

  <div class="playback-btns-container">
    <button class="play-btn" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="startAudio()">
      start
    </button>
    <button class="play-btn" *ngIf="started" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="playAudio()">
      <fa-icon [icon]="playIcon"></fa-icon>
    </button>
    <button class="play-btn" *ngIf="started" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="pauseAudio()">
      <fa-icon [icon]="pauseIcon"></fa-icon>
    </button>
    <button class="play-btn" mat-raised-button matSuffix mat-icon-button aria-label="Stop Audio" (click)="stopAudio()">
      <fa-icon [icon]="stopIcon"></fa-icon>
    </button>
  </div>
</div>

