 <div class="fast-daw">
  <div class="logo" mat-button matSuffix aria-label="Logo">
    <span class="logo-text">
      Fast DAW
    </span>
  </div>


   <div class="info-text">
    <span class="info-text">
      Fast DAW is a web app used for asynchronous playback of multiple audio files developed end-to-end by Mitchell McKee.
      Select an audio file from the dropdown and set how long you want to delay the start of that track.
      If you want to add your own audio, select an MP3 file from your computer and click the upload button.
      Repeat this process with as many tracks as you like. Once everything is set, hit start at the bottom of the screen and enjoy!
      You can adjust the volume of each individual track during playback too!
      <a href="http://ec2-18-216-125-59.us-east-2.compute.amazonaws.com/preload/ea0a1d03718c24b15708e6b079755cba.mp3&2.375&0.44&2213ec7ecaaf9389682fbf1de09e7b30.mp3&0&0.35&">Click here for a demo</a>
    </span>
  </div>

  <div class="upload" fxLayout="row">
    <button class="upload-btn" (click)="uploadFile()" mat-button aria-label="Upload File" >
      <fa-icon [icon]="uploadIcon"></fa-icon>
    </button>
    <input type="file"
          name="audioFile"
          (change)="onFileChange($event)"
          placeholder="File Upload"
          class="upload-input" />
  </div>

  <div class="editor">
    <div class="header-btns">
      <button class="add-track-btn" mat-raised-button matSuffix aria-label="Add Track" (click)="addTrack()">
        Add Track
      </button>
      <button class="add-track-btn" mat-raised-button matSuffix aria-label="Create Shareable Link" (click)="generateLink()">
        Generate Shareable Link
      </button>
    </div>
    <div class="generated-link">
      <a [href]="generatedLink">{{generatedLink}}</a>
    </div>
    <div class="tracks-container">
      <mat-card class="track-card-container" *ngFor="let track of tracks">
        <mat-card-content>
          <app-daw-track
            [trackId]="track.trackId"
            [selectedFilename]="track.selectedFilename"
            [offset]="track.offset"
            [volume]="track.volume"
            [audioSources]="audioSources"
            (deleteTrackEmitter)="deleteTrack(track.trackId)"
            (deleteFileEmitter)="updateAudioSources()">
          </app-daw-track>
        </mat-card-content>
      </mat-card>
    </div>
    <button *ngIf="tracks.length" class="add-track-btn" mat-raised-button matSuffix aria-label="Add Track" (click)="addTrack()">
      +
    </button>

    <div class="playback-btns-container">
      <button class="play-btn" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="startAudio()">
        start
      </button>
      <button class="play-btn" *ngIf="started" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="playAudio()">
        <fa-icon [icon]="playIcon"></fa-icon>
      </button>
      <button class="play-btn" *ngIf="started" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="pauseAudio()">
        <fa-icon [icon]="pauseIcon"></fa-icon>
      </button>
      <button class="play-btn" mat-raised-button matSuffix mat-icon-button aria-label="Stop Audio" (click)="stopAudio()">
        <fa-icon [icon]="stopIcon"></fa-icon>
      </button>
    </div>
  </div>

 </div>
