<div class="header" fxLayout="row">
  <app-logo></app-logo>
  <button mat-icon-button class="open-menu-btn" (click)="toggleMenu()">
    <fa-icon *ngIf="!openMenu" [icon]="barsIcon"></fa-icon>
    <fa-icon *ngIf="openMenu" [icon]="chevronUpIcon"></fa-icon>
  </button>
</div>

<div *ngIf="openMenu" class="menu-sidebar">
  <app-menu></app-menu>
</div>

<div class="editor">
  <button class="add-track-btn" mat-raised-button matSuffix aria-label="Add Track" (click)="addTrack()">
    Add Track
  </button>
  <mat-card class="track-card-container" *ngFor="let track of tracks">
    <mat-card-content>
      <app-daw-track
        [trackOrder]="track.trackOrder"
        [trackName]="track.trackName"
        [selectedFilename]="track.selectedFilename"
        [offset]="track.offset"
        [volume]="track.volume"
        (deleteTrackEmitter)="deleteTrack(track.trackOrder)">
      </app-daw-track>
    </mat-card-content>
  </mat-card>
  <button *ngIf="tracks.length" class="add-track-btn" mat-raised-button matSuffix aria-label="Add Track" (click)="addTrack()">
    +
  </button>

  <div class="playback-btns-container">
    <button class="play-btn" *ngIf="!started" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="startAudio()">
      start
    </button>
    <button class="play-btn" *ngIf="started" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="playAudio()">
      <fa-icon [icon]="playIcon"></fa-icon>
    </button>
    <button class="play-btn" *ngIf="started" mat-raised-button matSuffix mat-icon-button aria-label="Play Audio" (click)="pauseAudio()">
      <fa-icon [icon]="pauseIcon"></fa-icon>
    </button>
    <button class="play-btn" mat-raised-button matSuffix mat-icon-button aria-label="Stop Audio" (click)="stopAudio()">
      <fa-icon [icon]="stopIcon"></fa-icon>
    </button>
  </div>
</div>

