<app-logo></app-logo>
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="50">
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-toolbar class="login-title">Login Page</mat-toolbar>

      <div *ngIf="errorMessage" class="error-msg">
        {{errorMessage}}
      </div>

      <mat-form-field>
        <input [(ngModel)]="username"
               [ngModelOptions]="{standalone: true, allowInvalid: true}"
               matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="password"
               [ngModelOptions]="{standalone: true, allowInvalid: true}"
               matInput placeholder="Password">
      </mat-form-field>

      <button mat-raised-button type="submit" (click)="checkCredentials()"
              class="login-btn">
        Login
      </button>

      <button mat-raised-button type="submit" (click)="goToRegister()"
              color="accent">
        Create An Account
      </button>
    </form>
  </mat-card>
</div>
