<div class="track-container" fxLayout="row">
  <mat-card fxLayout="row wrap" class="track-color">
    <div class="delete-btn-container">
      <button class="delete-track-btn" (click)="deleteTrack()">X</button>
    </div>
    <div fxFlex="100%">

      <mat-form-field appearance="fill" class="select-source">
        <mat-label>Select an audio clip</mat-label>
        <mat-select [(ngModel)]="selectedFilename" name="audio source" (ngModelChange)="selectAudioTrack()" (click)="updateAudioSources()">
          <mat-option value="">
            None
          </mat-option>
          <mat-option *ngFor="let audioSource of audioSources" value="{{audioSource.filename}}">
            {{audioSource.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button class="delete-src-btn" aria-label="Delete audio file from server" (click)="deleteTrackFromDatabase()">
          Delete File from Server
        </button>

        Volume:
        <mat-slider vertical min="0" max="1" step="0.01" [(ngModel)]="volume" (click)="changeVolume()"></mat-slider>
        <button class="mute-btn" aria-label="Mute button" (click)="mute()" *ngIf="!muted">
          <fa-icon [icon]="muteIcon"></fa-icon>
        </button>
        <button class="unmute-btn" aria-label="Unmute button" (click)="changeVolume()" *ngIf="muted">
          <fa-icon [icon]="volumeIcon"></fa-icon>
        </button>
      </div>
      <div fxLayout="row">
        <span class="offset-label">Delay start by </span>
        <input class="offset-input" [(ngModel)]="newOffset" name="offset" (focusout)="changeOffset()">
        seconds
      </div>
    </div>
  </mat-card>
  <div class="waveform">

  </div>
</div>
