<div>
  <mat-card fxLayout="row wrap" class="track-color">
    <div fxFlex="100%">
      <div *ngIf="!editingTrackName">
        <mat-label>{{trackName}}</mat-label>
        <button class="edit-btn" mat-button matSuffix mat-icon-button aria-label="Edit Track Title" (click)="editName()">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
      </div>
      <div *ngIf="editingTrackName">
        <mat-form-field appearance="standard">
          <mat-label>Track Name</mat-label>
          <input matInput value={{trackName}} [(ngModel)]="trackName">
          <button class="edit-btn" mat-button matSuffix mat-icon-button aria-label="Edit Track Title" (click)="editName()">
            <fa-icon [icon]="checkIcon"></fa-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="select-source">
        <mat-label>Select an audio clip</mat-label>
        <mat-select [(ngModel)]="selectedFilename" name="audio source" (ngModelChange)="selectAudioTrack()" (click)="updateAudioSources()">
          <mat-option value="">
            None
          </mat-option>
          <mat-option *ngFor="let audioSource of audioSources" value="{{audioSource.filename}}">
            {{audioSource.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div>
        <mat-button-toggle class="delete-track-btn" aria-label="Mute button" (click)="deleteTrackFromDatabase()">
          X
        </mat-button-toggle>
        <mat-button-toggle class="mute-btn" value="left" aria-label="Mute button" (click)="changeVolume()" *ngIf="muted">
          <fa-icon [icon]="volumeIcon"></fa-icon>
        </mat-button-toggle>
        <mat-button-toggle class="mute-btn" value="left" aria-label="Mute button" (click)="mute()" *ngIf="!muted">
          <fa-icon [icon]="muteIcon"></fa-icon>
        </mat-button-toggle>
        <mat-slider min="0" max="1" step="0.01" [(ngModel)]="volume" (click)="changeVolume()"></mat-slider>
      </div>
      <div fxLayout="row">
        <input [(ngModel)]="newOffset" name="offset" (focusout)="changeOffset()">
      </div>
    </div>
  </mat-card>
</div>
