<div>
  <mat-form-field class="example-form-field">
    <mat-label>YouTube URL</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <fa-icon [icon]="timesIcon"></fa-icon>
    </button>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Search" (click)="getYouTubeDownloadLink()">
      <fa-icon [icon]="downloadIcon"></fa-icon>
    </button>
  </mat-form-field>
  <div *ngIf="downloadLink" class="download-link">
    <a href="{{downloadLink}}">{{downloadTitle}}</a>
  </div>
</div>
