<div fxLayout="row">
  <div fxFlex="75%">
    <button class="play-btn" mat-button matSuffix mat-icon-button aria-label="Play Audio" (click)="playAudio()">
      Play
    </button>
    <button class="play-btn" mat-button matSuffix mat-icon-button aria-label="Play Audio" (click)="stopAudio()">
      Stop
    </button>
    <app-daw-track [trackNum]=1></app-daw-track>
    <app-daw-track [trackNum]=2></app-daw-track>
  </div>
  <div fxFlex="25%">
    <div>
      <app-youtube-download></app-youtube-download>
      <app-youtube-search></app-youtube-search>
    </div>
  </div>
</div>
