<div fxLayout="row">
  <div fxFlex="75%">
    <button class="play-btn" mat-button matSuffix mat-icon-button aria-label="Play Audio" (click)="playAudio()">
      Play
    </button>
    <button class="play-btn" mat-button matSuffix mat-icon-button aria-label="Stop Audio" (click)="stopAudio()">
      Stop
    </button>
    <button class="add-track-btn" mat-button matSuffix mat-icon-button aria-label="Add Track" (click)="addTrack()">
      Add Track
    </button>
    <app-daw-track *ngFor="let track of tracks" [trackNum]=track.trackNum></app-daw-track>
  </div>
  <div fxFlex="25%">
    <div>
      <app-youtube-download></app-youtube-download>
      <app-youtube-search></app-youtube-search>
    </div>
  </div>
</div>
