<div fxLayout="row">
  <div fxFlex="75%">
    <button class="play-btn" *ngIf="!started" mat-button matSuffix mat-icon-button aria-label="Play Audio" (click)="startAudio()">
      Start
    </button>
    <button class="play-btn" *ngIf="started" mat-button matSuffix mat-icon-button aria-label="Play Audio" (click)="playAudio()">
      Play
    </button>
    <button class="play-btn" *ngIf="started" mat-button matSuffix mat-icon-button aria-label="Play Audio" (click)="pauseAudio()">
      Pause
    </button>
    <button class="play-btn" mat-button matSuffix mat-icon-button aria-label="Stop Audio" (click)="stopAudio()">
      Stop
    </button>
    <button class="add-track-btn" mat-button matSuffix aria-label="Add Track" (click)="addTrack()">
      Add
    </button>
    <input type="file"
           name="audioFile"
           (change)="onFileChange($event)" 
           placeholder="File Upload" />
    <button class="add-track-btn" mat-button matSuffix aria-label="Upload File" (click)="uploadFile()">
      Upload
    </button>
    <button class="add-track-btn" mat-button matSuffix aria-label="Upload File" (click)="saveProject()">
      Save Project
    </button>
    <button class="add-track-btn" mat-button matSuffix aria-label="Upload File" (click)="createProject()">
      Create Project
    </button>
    <app-logout></app-logout>
    <div fxLayout="row wrap">
      <mat-card class="track-card-container" *ngFor="let track of tracks">
        <mat-card-content>
          <app-daw-track
            [trackOrder]="track.trackOrder"
            [trackName]="track.trackName"
            [selectedFilename]="track.selectedFilename"
            [offset]="track.offset"
            [volume]="track.volume">
          </app-daw-track>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="25%">
    <div>
      <app-youtube-download></app-youtube-download>
      <app-youtube-search></app-youtube-search>
    </div>
  </div>
</div>
