// @import '../../../styles/mixins';

.add-track-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}

.play-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}

.track-card-container {
  max-width: 252px;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
}

.upload-btn {
  display: block;
}

.upload-input {
  margin-bottom: 8px;
}
