<ng-container *ngIf="signedIn; else signedOut">
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="50">
      <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        
        <div *ngIf="errorMessage" class="error-msg">
          {{errorMessage}}
        </div>
  
        <div *ngIf="!editing">
          <mat-grid-list cols="2" rowHeight="8:1">
            <mat-grid-tile>
              <span class="labels">
                Username:
              </span> 
            </mat-grid-tile>
            <mat-grid-tile>
              <span class="labels">
                {{username}}
              </span>
            </mat-grid-tile>

            <mat-grid-tile>
              <span class="labels">
                Password:
              </span>
            </mat-grid-tile>
            <mat-grid-tile>
              <span class="labels">
                {{password}}
              </span>
            </mat-grid-tile>
          </mat-grid-list>

          <button class="edit-btn" mat-button aria-label="Edit username and password" (click)="edit()">
            Edit
          </button>
        </div>
        <div *ngIf="editing">
            <mat-form-field appearance="standard">
              <input matInput placeholder="{{username}}" [(ngModel)]="newUsername" name="username">
            </mat-form-field>

            <mat-form-field appearance="standard">
              <input matInput placeholder="{{password}}" [(ngModel)]="newPassword" name="password">
            </mat-form-field>

            <button class="cancel-btn" mat-button aria-label="Done editing" (click)="edit()">
              Cancel
            </button>
            <button class="edit-btn" mat-button aria-label="Done editing" (click)="changeCredentials()">
              Done
            </button>
        </div>
  
        <button mat-raised-button type="submit" (click)="goToLogin()">
          Logout
        </button>
      </form>
    </mat-card>
  </div>
</ng-container>
<ng-template #signedOut>
  Oops, you are not signed in.
  <button class="log-in" mat-button matSuffix mat-icon-button aria-label="Go to login" (click)="goToLogin()">
    Go To Login
  </button>
</ng-template>
