<div class="menu-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          File Upload
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button class="menu-btn upload-btn" (click)="uploadFile()" mat-button aria-label="Upload File" >
        <fa-icon [icon]="uploadIcon"></fa-icon>
      </button>
      <input type="file"
      name="audioFile"
      (change)="onFileChange($event)" 
      placeholder="File Upload"
      class="upload-input" />
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          YouTube Upload
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-youtube-download></app-youtube-download>
      <app-youtube-search></app-youtube-search>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Project Settings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngIf="errorMessage" class="error-msg">
        {{errorMessage}}
      </p>
      <button class="menu-btn" mat-raised-button matSuffix aria-label="Upload File" (click)="saveProject()">
        Save Project
      </button>
      <button class="menu-btn" mat-raised-button matSuffix aria-label="Upload File" (click)="createProject()">
        Create Project
      </button>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Account Settings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-logout></app-logout>
    </mat-expansion-panel>
  </mat-accordion>
</div>
